#include "sosho_L.dtsi"

/* 負荷削減の検証のため左トラックパッドを有効化に戻した（フリーズ再発しないか確認用） */
&spi0 { status = "okay"; };
&glidepoint {
    status = "okay";
    invert-x;
};
&glidepoint_split {
    status = "okay";
    device = <&glidepoint>;
};